<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <!---->
    <appender name = "STANDARD_LOGS" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/logs/gattos_lab_gateway_logs_%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>170</maxHistory>

        </rollingPolicy>

        <encoder class = "io.github.clamentos.gattoslabgateway.observability.logging.LogsEncoder"/>

    </appender>

    <appender name = "REQUEST_METRICS_APPENDER" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/request_metrics/gattos_lab_gateway_request_metrics_%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>170</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    
    </appender>

    <appender name = "SYSTEM_METRICS_APPENDER" class = "ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>./observability/system_metrics/gattos_lab_gateway_system_metrics_%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>170</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    
    </appender>

    <!---->
    <logger name = "REQUEST_METRICS_LOGGER" level = "TRACE" additivity = "false">
        <appender-ref ref = "REQUEST_METRICS_APPENDER"/>
    </logger>

    <logger name = "SYSTEM_METRICS_LOGGER" level = "TRACE" additivity = "false">
        <appender-ref ref = "SYSTEM_METRICS_APPENDER"/>
    </logger>

    <root level = "INFO">
        <appender-ref ref = "STANDARD_LOGS"/>
    </root>

    <!---->
</configuration>
